/build
/build_ut
/build_st
/build_out
/output
/build_out
/cov
/cov_fe_ut
/cov_fe_st
/cov_aicpu_ut
/cov_aicpu_st
/cov_dvpp_ut
/cov_dvpp_st
/cov_ffts_ut
/cov_ffts_st
/build_gcov
/.dev_env
/tests/framework/eager_style_graph_builder/build

# IDE
.vscode
.idea
cmake-build-debug
cmake-build-gcov

deps
cmake-build-debugindocker/
.DS_Store
__pycache__
